#ProfileContainer{
    display: flex;
    justify-content: center;
    padding: 0 4rem;
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

table {
    width: 100%;
}