<app-navbar></app-navbar>
<div class="navbar-separator"></div>
<div id="ProfileContainer">
    <mat-card *ngIf="usuario" style="width: 100%;">
        <mat-card-header>
            <mat-card-title>
                {{usuario.username}}
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <div class="profile-section">
                <div class="section-title">
                    <h2 class="center">Games</h2>
                    <button mat-button color="primary" (click)="openAddGameDialog()">Add Game</button>
                </div>
                <mat-divider></mat-divider>

                <table mat-table *ngIf="gameExperiences" [dataSource]="gameExperiences">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Game</th>
                        <td mat-cell *matCellDef="let element">{{element.game.nombre}}</td>
                    </ng-container>
                    <ng-container matColumnDef="experienceLevel">
                        <th mat-header-cell *matHeaderCellDef>Experience</th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="!element.editMode">
                                {{element.experienceLevel}}
                            </ng-container>
                            <ng-container *ngIf="element.editMode">
                                <mat-form-field>
                                    <input matInput type="number" max=10 min="1" [formControl]="element.experienceFormController" />
                                </mat-form-field>
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                mat-raised-button color="primary"
                                (click)="element.editMode ? saveChangedExperience(element) : toggleEditMode(element)">
                                {{element.editMode ? "Save" : "Edit"}}
                            </button>
                            |
                            <button
                                mat-raised-button
                                color="warn"
                                (click)="element.editMode ? toggleEditMode(element) : openDeleteConfirmDialog(element)">
                                {{element.editMode ? "Cancel" : "Delete"}}
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedExperienceColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedExperienceColumns;"></tr>
                </table>
                <br>
                <div class="section-title">
                    <h2 class="center">Tournaments</h2>
                    <button mat-button color="primary">Add Tournament</button>
                </div>
                <mat-divider></mat-divider>
              <table mat-table *ngIf="tournaments" [dataSource]="tournaments">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Tournament</th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="!element.editMode">
                      {{element.nombre}}
                    </ng-container >
                    <ng-container *ngIf="element.editMode">
                      <mat-form-field>

                        <input matInput type="text" [formControl]="element.nombreFormController" />
                      </mat-form-field>
                    </ng-container>
                  </td>
                </ng-container>
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let element">
                      {{element.date}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>Position</th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="!element.editMode">
                      {{element.puesto}}
                    </ng-container >
                    <ng-container *ngIf="element.editMode">
                      <mat-form-field>
                        <input matInput type="text" [formControl]="element.puestoFormController" />
                      </mat-form-field>
                    </ng-container>
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      mat-raised-button color="primary"
                      (click)="toggleEditMode(element)">
                      {{element.editMode ? "Save" : "Edit"}}
                    </button>
                    <button
                      mat-raised-button
                      color="warn"
                      (click)="openDeleteConfirmTournamentDialog(element)">
                      {{element.editMode ? "Cancel" : "Delete"}}
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedTournamentColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedTournamentColumns;"></tr>
              </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>
