<app-navbar></app-navbar>
<div class="navbar-separator" style="margin-bottom: 10px"></div>
<div id="ProfileContainer" style="flex-direction: column;">
    <mat-card  style="width: 100%;">
        <mat-card-header>
            <mat-card-title>
                {{user.username}}
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>

      <mat-card-content>
            <div class="profile-section">
                <div class="section-title">
                    <h2 class="center">Games</h2>
                    <button mat-button color="primary" (click)="openAddGameDialog()" *ngIf="validateSession">Add Game</button>
                </div>
                <mat-divider></mat-divider>

                <table  mat-table *ngIf="gameExperiences" [dataSource]="gameExperiences" >
                    <ng-container  matColumnDef="name">
                      <th style="width: 50%" mat-header-cell *matHeaderCellDef >Game</th>
                      <td mat-cell *matCellDef="let element " >{{element.gameName}}</td>
                    </ng-container>
                    <ng-container  matColumnDef="experienceLevel">
                      <th mat-header-cell *matHeaderCellDef  >Experience</th>
                      <td mat-cell *matCellDef="let element"  >{{element.experience}}</td>
                    </ng-container>
                    <ng-container  matColumnDef="actions" >
                      <th class="th-actions" mat-header-cell *matHeaderCellDef >Actions</th>
                      <td mat-cell *matCellDef="let element" >
                        <button
                          mat-mini-fab color="primary"
                          (click)="openEditGameDialog(element)" *ngIf="validateSession">
                          <mat-icon>edit</mat-icon>
                        </button>
                        |
                        <button
                          mat-mini-fab
                          color="warn"
                          (click)="element.editMode ? toggleEditMode(element) : openDeleteGameExperienceConfirmDialog(element)"
                          *ngIf="validateSession">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedExperienceColumns" ></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedExperienceColumns;" ></tr>
                </table>
                <br>
                <div class="section-title">
                    <h2 class="center">Tournaments</h2>
                    <button mat-button color="primary" (click)="openAddTournamentDialog()" *ngIf="validateSession">Add Tournament</button>
                </div>
                <mat-divider></mat-divider>
              <table mat-table *ngIf="tournamentExperiences" [dataSource]="tournamentExperiences">
                <ng-container matColumnDef="name">
                  <th style="width: 50%" mat-header-cell *matHeaderCellDef >Tournament</th>
                  <td  mat-cell *matCellDef="let element" >
                    <ng-container *ngIf="!element.editMode">
                      {{element.name}}
                    </ng-container >
                    <ng-container *ngIf="element.editMode">
                      <mat-form-field>
                        <input matInput type="text" [formControl]="element" />
                      </mat-form-field>
                    </ng-container>
                  </td>
                </ng-container>
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef >Position</th>
                  <td mat-cell *matCellDef="let element" >
                      {{element.position}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th class="th-actions" mat-header-cell *matHeaderCellDef >Actions</th>
                  <td mat-cell *matCellDef="let element" >
                    <button
                      mat-mini-fab color="primary"
                      (click)="openEditTournamentDialog(element)" *ngIf="validateSession">
                      <mat-icon>edit</mat-icon>
                    </button>
                    |
                    <button
                      mat-mini-fab
                      color="warn"
                      (click)="element.editMode ? toggleEditMode(element) : openDeleteConfirmTournamentDialog(element)"
                      *ngIf="validateSession">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedTournamentColumns" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedTournamentColumns;" ></tr>
              </table>


              <br>
              <br>
              <div class="section-title">
                <h2 class="center">Favorite Games</h2>
                <button mat-button color="primary" (click)="openAddFavoriteGameDialog()"
                        *ngIf="validateSession">Add Favorite Games</button>
              </div>
              <mat-divider></mat-divider>
              <!--<table mat-table *ngIf="favoriteGames" [dataSource]="favoriteGames">-->
              <table mat-table *ngIf="favoriteGames" [dataSource]="favoriteGames">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name Game</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.gameName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th class="th-actions" mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      mat-mini-fab color="primary"
                      (click)="openEditFavoriteGameDialog(element)"
                      *ngIf="validateSession">
                      <mat-icon>edit</mat-icon>
                    </button>
                    |
                    <button mat-mini-fab color="warn"
                            (click)="openDeleteFavoriteGameConfirmDialog(element)"
                            *ngIf="validateSession">

                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedFavoriteColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedFavoriteColumns;"></tr>
              </table>

              <br>
              <div class="section-title">
                <h2 class="center">Streaming Category</h2>
                <button mat-button color="primary" (click)="openAddStreamCategoryDialog()"
                        *ngIf="validateSession">Add Streaming Category</button>
              </div>
              <mat-divider></mat-divider>
              <!--<table mat-table *ngIf="favoriteGames" [dataSource]="favoriteGames">-->
              <table mat-table *ngIf="streamingCategories" [dataSource]="streamingCategories">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Category Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.name }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th class="th-actions" mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      mat-mini-fab color="primary"
                      (click)="openEditStreamCategoryDialog(element)" *ngIf="validateSession">
                      <mat-icon>edit</mat-icon>
                    </button>
                    |
                    <button mat-mini-fab color="warn"
                            (click)="openDeleteConfirmStreamCategoryDialog(element)"
                            *ngIf="validateSession">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedFavoriteColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedFavoriteColumns;"></tr>
              </table>

              <br>
              <div class="section-title">
                <h2 class="center">Streaming Sponsor</h2>
                <button mat-button color="primary" (click)="openAddStreamSponsorDialog()"
                        *ngIf="validateSession">Add Streaming Sponsor</button>
              </div>
              <mat-divider></mat-divider>
              <!--<table mat-table *ngIf="favoriteGames" [dataSource]="favoriteGames">-->
              <table mat-table *ngIf="streamerSponsors" [dataSource]="streamerSponsors">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Sponsor Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.name }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th class="th-actions" mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      mat-mini-fab color="primary"
                      (click)="openEditStreamSponsorDialog(element)"
                      *ngIf="validateSession">
                      <mat-icon>edit</mat-icon>
                    </button>
                    |
                    <button mat-mini-fab color="warn"
                            (click)="openDeleteConfirmStreamSponsorDialog(element)"
                            *ngIf="validateSession">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedFavoriteColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedFavoriteColumns;"></tr>
              </table>
            </div>
        </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-raised-button color="primary"
          (click)="saveProfile()"
          *ngIf="validateSession">
          Save
        </button>
      </mat-card-actions>
    </mat-card>

</div>
