<h2 mat-dialog-title>
{{'FAVORITE-GAME-DIALOG.Favorite-Games'|translate}}
</h2>
<mat-dialog-content>
  <form style="display: flex; flex-direction: column;" [formGroup]="formGroup">
    <app-search-games (messageEvent)="receiveMessage($event)"></app-search-games>
    <div style="display: flex; width: 100%; justify-content: space-evenly;">
      <button mat-raised-button color="primary" type="submit" (click)="submit()">{{'FAVORITE-GAME-DIALOG.Cre'|translate}}</button>
      <button mat-raised-button color="warn" mat-dialog-close>{{'FAVORITE-GAME-DIALOG.Can'|translate}}</button>
    </div>
  </form>
</mat-dialog-content>
