

    <h2 mat-dialog-title>
      Register points for  {{dialogData.title}} Tournament
    </h2>
    <div class="grid-dialog">
      <mat-card style="margin-right: 10px; min-height: 250px; min-width: 250px" >


        <mat-list  *ngFor="let participant of participantsMatchPoints">
          <div class="flex-box">
            <div>{{participant.name}}</div>
            <div>{{participant.points}}</div>
            <div class="example-button-container">
              <button mat-mini-fab color="warn"(click)="deleteParticipant(participant)" aria-label="Example icon button with a filter list icon">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list>
      </mat-card>
      <div>
        <form [formGroup]="participantControl" class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{this.tournamentType}}</mat-label>
            <input type="text"
                   placeholder="Select one"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto"
                   >
            <mat-autocomplete  #auto="matAutocomplete"  (optionSelected)="onOptionSelected($event)"  [displayWith]="getDisplayFn">
              <mat-option [(ngModel)]="this.searchParticipant" ngDefaultControl [ngModelOptions]="{standalone: true}" name="searchParticipant"  *ngFor="let option of filteredOptions | async" [value]="option"  >
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <h3 style="margin-top: 10px"><b>Extra Points</b> </h3>
          <mat-form-field  appearance="fill">
            <mat-label>Points</mat-label>
            <input formControlName="points" [value]="extraPoints" (input)="updateBox($event)" type="number" matInput placeholder="Points in this match participant" >
          </mat-form-field>
          <div style="width: 100%">
            <button style="width: 100%" [disabled]="!participantControl.valid || this.searchParticipant == null" mat-raised-button color="primary" (click)="addParticipant()">Add participant</button>
          </div>
        </form>


      </div>
    </div>
    <mat-dialog-actions style="justify-content: flex-end">
      <button  mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button  mat-raised-button color="primary" (click)="addParticipantPoints()" mat-dialog-close>Confirm</button>
    </mat-dialog-actions>






