<mat-toolbar color="primary" style="position: fixed;">
    <a class="navbar-name" [routerLink]="'/'">GamingWorld</a>
    <app-search-users></app-search-users>
    <div>
      <select #langselect (change)="changeLang(langselect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang == this.selectedLang">{{lang}}</option>
      </select>
        <button routerLink='' matTooltip="News Page" mat-icon-button *ngIf="router.url != '/'">
            <mat-icon>dashboard</mat-icon>
        </button>
        <button routerLink='/tournaments' matTooltip="Tournaments" mat-icon-button>
            <mat-icon>emoji_events</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
          <div *ngIf="isLoggedIn; else elseBlock">
            <button [routerLink]="'/profile/' + this.user" matTooltip="Profile of the user" mat-menu-item>{{'NAVBAR.Profile'|translate}}</button>
            <button (click)="logout()" mat-menu-item matTooltip="Close session">{{'NAVBAR.Log-Out'|translate}}</button>
          </div>
          <ng-template #elseBlock>
            <button [routerLink]="'/login/'" mat-menu-item matTooltip="Login">{{'NAVBAR.Log-In'|translate}}</button>
          </ng-template>
        </mat-menu>
    </div>
</mat-toolbar>
