mat-toolbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    width: 100%;
    background-color: lightgrey;
    z-index: 100;
}

mat-form-field {
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> parent of 8957698 (Merge branch 'feature/internationalization' into develop)
=======
}
>>>>>>> parent of c3c8a7c (feature: add Internationalization in all tournamnets)
