<div>
<h2 mat-dialog-title >
  {{'PREMIUM-INFORMATION-DIALOG.Subscribe'|translate}}
</h2>
<mat-dialog-content>
  <h3 style="font-weight: 500">
    {{'PREMIUM-INFORMATION-DIALOG.Question-1'|translate}}
  </h3>
    <p style="padding-bottom: 50px">
      {{'PREMIUM-INFORMATION-DIALOG.Text-2'|translate}}
    </p>
  <div style="width: 100%; display: flex; justify-content: center; margin-top: -40px; margin-bottom: 10px">
    <mat-card class="c-background-color" style="color: whitesmoke;">
      <mat-card-header>
        <mat-card-title>
          {{'PREMIUM-INFORMATION-DIALOG.Plan'|translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: center;">
        <strong>{{'PREMIUM-INFORMATION-DIALOG.Amount'|translate}}</strong>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">{{'PREMIUM-INFORMATION-DIALOG.Close'|translate}}</button>
  <button mat-raised-button color="primary">{{'PREMIUM-INFORMATION-DIALOG.Purchase'|translate}}</button>
</mat-dialog-actions>
</div>
