<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{'PREMIUM-CARD.Support'|translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p style="padding-bottom: 5vh">
      {{'PREMIUM-CARD.Text-1'|translate}}
    </p>
    <div style="width: 100%; display: flex; justify-content: center;">
      <mat-icon class="credit-card-icon" style="padding-bottom: 50px">
        credit_card
      </mat-icon>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="full-length-button" (click)="openPremiumInfoDialog()">{{'PREMIUM-CARD.More-Info'|translate}}</button>
  </mat-card-actions>
</mat-card>
