<app-navbar style="margin-bottom: 20px" [isInNews]="false"></app-navbar>
<div class="navbar-separator" style="margin-bottom: 10px"></div>
<div *ngIf="sessionValid" style="width: 90%; margin-left: auto;margin-right: auto">
  <div id="PrincipalContainer">
    <div>
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Filter By
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-action-list>
              <button mat-list-item (click)="findTournaments(true)">Team Tournaments</button>
              <button mat-list-item (click)="findTournaments(false)">Solo Tournaments</button>
            </mat-action-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div id="TournamentsContainer">
      <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenState">
          <mat-expansion-panel-header (click)="togglePanel()">
            <mat-panel-title>
              Post a tournament
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="registerForm">
            <mat-form-field class="form-field">
              <mat-label>Tournament Title</mat-label>
              <input type="text" matInput formControlName="title">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Tournament Banner</mat-label>
              <input type="url" matInput formControlName="urlToImage">
            </mat-form-field>
            <img *ngIf="isValidUrl(registerForm.controls.urlToImage.value)"
                 [src]="registerForm.controls.urlToImage.value" style="max-width: 100%" alt="">
            <mat-form-field class="form-field">
              <mat-label>Tournament Description</mat-label>
              <textarea matInput rows="5" formControlName="description"></textarea>
            </mat-form-field>


            <mat-form-field class="form-field">
              <mat-label>Prize Pool</mat-label>
              <input type="number" matInput formControlName="prizePool">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="datetime-local" formControlName="date" placeholder="Start Date" min="{{date().toString()}}">
            </mat-form-field>

            <app-search-games [resetFormSubject]="this.resetSearchGame" (messageEvent)="receiveMessage($event)" ></app-search-games>

            <mat-slide-toggle formControlName="isTeam">Team Tournament</mat-slide-toggle>
            <div [hidden]="!registerForm.controls.isTeam.value">
              <mat-form-field class="form-field">
                <mat-label>Number of Teams</mat-label>
                <mat-select formControlName="tournamentCapacity">
                  <mat-option *ngFor="let val of [4, 8, 16, 32]"
                              [value]="val">{{val}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div [hidden]="registerForm.controls.isTeam.value">
              <mat-form-field class="form-field">
                <mat-label>Number of Participants</mat-label>
                <input type="number" formControlName="tournamentCapacity" id="tournamentCapacity" matInput min="0"
                       max="100">
                <mat-error *ngIf="registerForm.controls.tournamentCapacity.errors?.['min']">
                  * Minimum 2 participants
                </mat-error>
                <mat-error *ngIf="registerForm.controls.tournamentCapacity.errors?.['max']">
                  * Maximum 100 participants
                </mat-error>
              </mat-form-field>

            </div>
            <button mat-flat-button color="warn" type="button" (click)="cancelButton()" style="margin-right: 10px">
              Cancel
            </button>
            <button [disabled]="!registerForm.valid || !this.selectedGame.id" mat-flat-button color="primary" type="button" (click)="submitForm()">Save</button>
          </form>

        </mat-expansion-panel>

      </mat-accordion>

      <div *ngFor="let tournament of filterTournaments">
        <mat-card>
          <app-tournament-card [tournament]="tournament"></app-tournament-card>
          <mat-card-actions align="end">

            <button
              mat-raised-button
              color="primary"
              (click)="openConfirmRegistration(tournament)"
              [disabled]="!compareDates(tournament) || !tournament.tournamentStatus || tournament.inTournament"
            >Sign into the Tournament
            </button>
            <button
              mat-raised-button
              color="primary"
              routerLink='/tournaments/{{tournament.id}}'
            >View Tournament
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div id="StreamerInfo">
      <app-premium-card></app-premium-card>
    </div>
  </div>
</div>
<div *ngIf="!sessionValid">
  <app-login-or-signup></app-login-or-signup>
</div>
