#PrincipalContainer {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  padding: 0 5rem;
  gap: 10px;
}

#TournamentsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (max-width: 720px) {
  #PrincipalContainer {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    gap: 10px;
  }
}
