<div id="LoginGrid">
    <div class="login-grid-tile" *ngIf={}>
        <img class="login-image" src="/assets/loginImage.png" alt="login Image" >
    </div>
    <div class="login-grid-tile">
        <mat-card class="login-card card-secondary-background">
            <mat-card-header style="justify-content: center;">
                <mat-card-title>
                    <div style="color: white;">
                        GAMING WORLD
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <br>
            <mat-card-content>
              <form [formGroup]="loginForm">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label style="color: white;">Username</mat-label>
                    <input  style="color: white;" formControlName="username" type="text" matInput>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label style="color: white;">
                        Password
                    </mat-label>
                    <input style="color: white;" formControlName="password" type="password" matInput>
                </mat-form-field>
              </form>
            </mat-card-content>
            <mat-card-actions>
                <p>
                    <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary" class="full-length-button" (click)="login()">
                        Login
                    </button>
                </p>
            </mat-card-actions>
            <mat-divider></mat-divider>
            <br>
            <mat-card-actions>
                <button routerLink="/sign-up" mat-raised-button class="full-length-button" color="primary">
                    Sign up
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
