#LoginGrid{
    padding: 0 10vw;
    width: 80vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.login-grid-tile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 300px;
    padding: 4rem;
}

@media (max-width: 950px) {
    #LoginGrid{
        margin: 0;
        padding: 0;
        width: 100vw;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }

    .login-grid-tile{
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

select{
  height: 30px;
  padding: 5px;
  line-height: 18px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  border: #36468F;
  border-radius: 8px;
  background: #36468F;
  color: #FFFFFF;
  margin-left: 100px;
  margin-top: 100px;
}

