<h2 mat-dialog-title>
    Create Game Experience
</h2>
<mat-dialog-content>
    <form style="display: flex; flex-direction: column;" [formGroup]="formGroup">
        <mat-form-field class="form-field" *ngIf="games" appearance="fill">
            <mat-label>Tournament</mat-label>
            <input matInput type="text"/>
        </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Position</mat-label>
            <input matInput type="text"/>
        </mat-form-field>
        <div style="display: flex; width: 100%; justify-content: space-evenly;">
            <button mat-raised-button color="primary" (click)="submit()" mat-dialog-close>Create</button>
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        </div>
    </form>
</mat-dialog-content>
