<h2 mat-dialog-title>
  Add Stream Sponsor
</h2>
<mat-dialog-content>
  <form style="display: flex; flex-direction: column;" >
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Sponsor</mat-label>
      <mat-select required>
        <mat-option >
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="display: flex; width: 100%; justify-content: space-evenly;">
      <button mat-raised-button color="primary" type="submit">Create</button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </div>
  </form>
</mat-dialog-content>
