<h2 mat-dialog-title>
  {{'STREAMING-SPONSOR-DIALOG.Stream-Spo'|translate}}
</h2>
<mat-dialog-content>
  <form style="display: flex; flex-direction: column;" [formGroup]="formGroup">
    <mat-form-field class="form-field">
      <mat-label>{{'STREAMING-SPONSOR-DIALOG.Name-Spo'|translate}}</mat-label>
      <input matInput type="text"
             appearance="fill"
             formControlName="name"
             required/>
    </mat-form-field>
    <div style="display: flex; width: 100%; justify-content: space-evenly;">
      <button mat-raised-button color="primary" type="submit" (click)="submit()">{{'FAVORITE-GAME-DIALOG.Cre'|translate}}</button>
      <button mat-raised-button color="warn" mat-dialog-close>{{'FAVORITE-GAME-DIALOG.Can'|translate}}</button>
    </div>
  </form>
</mat-dialog-content>
