<mat-card *ngIf="tournament">
  <mat-card-content>
    <img mat-card-image src="{{tournament.urlToImage}}">
  </mat-card-content>
        <mat-card-title>
            {{tournament.title}}
        </mat-card-title>
        <mat-card-subtitle>

        </mat-card-subtitle>
    <mat-card-content>

      <p>{{tournament.description}}</p>
      <p>Limit: {{tournament.tournamentCapacity}} {{tournament.isTeamMode ? " Teams" : " Participants"}}</p>
      <p>Prize Pool: {{tournament.prizePool}} $</p>
      <p>Date: {{this.tournamentDate}}</p>
      <p>Hour: {{this.tournamentHour}}</p>
      <p>Game: {{this.tournamentGameName}}</p>
  </mat-card-content>
  <mat-chip-list *ngIf="tournament.tournamentStatus">
    <mat-chip selected color="primary" *ngIf="compareDates()" >Stand By</mat-chip>
    <mat-chip selected style="background-color: mediumseagreen" *ngIf="!compareDates()">Active</mat-chip>
  </mat-chip-list>
  <mat-chip-list *ngIf="!tournament.tournamentStatus">
    <mat-chip selected color="warn">Ended</mat-chip>
  </mat-chip-list>

</mat-card>
